.good{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(191, 198, 182);
    background-color:rgb(245, 245, 245);
}
#nice{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    color: rgb(180, 24, 24);
}
.image-container img {
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.2);
}
